body,
html {
  margin: 0;
  padding: 0;
}

body {
  font-size: 16px;
  background-color: #e9ebee;
  font-family: "Fix for Mac Chrome 80", system-ui, -apple-system,
  BlinkMacSystemFont, ".SFNSText-Regular", sans-serif;
}

* {
  box-sizing: border-box;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

header {
  display: flex;
  justify-content: space-between;
  padding: 10px 150px;
  align-items: center;
  background-color: #3b5998;
  color: white;
}
h1{
  margin: 0;
}

.left {
  display: flex;
  align-items: center;
}
.register-button {
  margin-left: 10px;
  background-color: #42b72a;
  border-style: none;
  outline: none;
  height: 22px;
  color: white;
  padding: 2px 8px;
}
.join-facebook::after {
  content: "";
  border: 6px solid transparent;
  border-top-color: white;
  position: relative;
  bottom: -16px;
  left: 6px;
}

.content {
  width: 981px;
}

main {
  margin: 20px 150px 100px 150px;
}
.figure-section {
  display: flex;
  text-align: center;
  justify-content: space-between;
  margin-top: 50px;
}
figure {
  background-color: white;
  margin: 0;
  padding-bottom: 30px;
  flex-basis: 48%;
}


figure >img {
  padding: 20px;
}

.img-title {
  font-size: large;
  font-weight: bolder;
  margin: 10px ;
}
.img-description {
  padding: 0 20px;
}

.start{
  margin-top: 90px;
  padding: 2px 7px;
  border: 1px #808080 solid;
}