body,
html {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  background-color: #e9ebee;
}

* {
  box-sizing: border-box;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
header, main {
  border:1px solid blue;
}
header {
  display: flex;
  justify-content: space-between;
  padding: 10px 150px;
  align-items: center;
  background-color: #3b5998;
  color: white;
}
h1{
  margin: 0;
}

.left {
  display: flex;
  align-items: center;
}
.register-button {
  margin-left: 10px;
  background-color: #42b72a;
  border-style: none;
  outline: none;
  height: 23px;
  color: white;
}
.join-facebook::after {
  content: "";
  border: 6px solid transparent;
  border-top-color: white;
  position: relative;
  bottom: -16px;
  left: 6px;
}

.content {
  width: 981px;
}

main {
  margin: 20px 150px;
}
.figure-section {
  display: flex;
  text-align: center;
}